@import "variables";
/***
    BODY - START
********************************/
body{
    background:$black;
    color:$white;

    a{
        text-decoration:none;
        color:$white;
    }

    a:hover{
        text-decoration:none;
        color:$white;
    }
}

/***
    BODY - END
********************************/
/***
    HEADER - START
********************************/
header {
    position: relative;
    left: 5%;
    width: 90%;
    a {
        display: inline-block;
    }
    img {
        width: 100px;
        display: inline-block;
    }
    .logo {
        position: absolute;
        top: 0;
    }
    .netflix {
        position: absolute;
        top: 35px;
        right: 0;
        @media (max-width:675px) {
            display:none;
        }
    }
    nav {
        position: relative;
        top: 20px;
        left: 35%;
        width: 50%;
        font-family: "Gotham-Medium";
        font-size: 15px;
        @media screen and (max-width: $break-medium) {
            left:33%;
        }
        @media screen and (max-width:$break-small) {
            left: 27%;
        }
        @media (max-width:870px) {
            left: 20%;
            width: 90%;
          }
        li {
            display: inline-block;
        }
        a {
            position: relative;
            display: block;
            padding: 0 20px;
            height: 60px;
            line-height: 60px;
            text-decoration: none;
            text-transform: uppercase;
            color: $white;
        }
        a:hover {
            color: $red;
            transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        }
        a:after {
            position: absolute;
            left: 50%;
            right: 50%;
            height: 3px;
            bottom: 10px;
            content: "";
            background-color: $red;
            transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
            transform: translate3d(0, 0, 0);
        }
        a:hover:after {
            left: 20px;
            right: 20px;
        }
        @mixin va ($pos: relative, $top: 50%) {
            position: $pos;
            top: $top;
            transform: translateY(-50%);
        }
    }

}

/***
    HEADER - END
********************************/

/***
    SOCIAL - START
********************************/

footer {
    font-family: "Gotham-Medium";
    font-size: 15px;
    font-weight: 400;
    color: $white;
    z-index: 10;
    @media (max-width:999px) {
        display:none;
      }
    a {
        bottom: 20px;
        display: inline-block;
        text-decoration: none;
    }
    a:hover {
        color: $red;
        transition: 0.1s;
    }
    .watch {
        position: absolute;
        left: 5%;
        transition-property: all;
        transition-duration: 0.5s;
        transition-timing-function: cubic-bezier(.215, .61, .355, 1);
    }

    
}

.watch:hover {
    left: 7%;
    transition: all 1s cubic-bezier(.215, .61, .355, 1);
}

.watch:after {
    transition: all 1s cubic-bezier(.215, .61, .355, 1);
}

.social_icons {
    position: absolute;
    right: 5%;
    bottom: 20px;
    display: inline-block;
    .social {
        position: relative;
        margin-right: 10px;
        width: 15px;
        transition-property: all;
        transition-duration: 0.4s;
        transition-timing-function: cubic-bezier(.215, .61, .355, 1);
    }
}

/***
    SOCIAL - END
********************************/

/***
    TRANSITION - START
********************************/

.transition {
    transform: translateY(-30%);
    position: relative;
    z-index: 5;
    transition: all 3s ease;
}

// Transition Text Home
.slide_bottom {
    transform: translateY(0%);
    animation: 2s fadeIn;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

// Transition Button
.slide_button {
    animation: 3s fade;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

// Transition Menu
.transition_top {
    transition: all 3s ease;
}

.slide_top {
    animation: 3s fadeOut;
}

@keyframes fadeOut {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/***
    TRANSITION - END
********************************/
/***
    HOME - START
********************************/

.home {
    .home_texts {
        margin: 15% 0 0 5%;
        width: 50%;
        @media (max-width:1000px) {
            width: 70%;
          }
          @media (max-width:780px) {
            margin: 0 0 10% 5%;
            width: 90%;
          }
        h1 {
            margin-bottom: 25px;
            font-size: 48px;
            color: $white;
            font-family: "Benguiat Bold";
        }
        h2 {
            width: 70%;
            font-size: 17px;
            line-height: 24px;
            color: $white;
            font-family: "Gotham-Light";
            font-weight: 300;
        }
        .button {
            .button_play {
                margin-top: 20px;
                margin-bottom:30px;
                padding: 10px 0 10px 0;
                display: block;
                width: 100%;
                max-width: 120px;
                height: 40px;
                position: absolute;
                z-index: 2;
                text-align: center;
                background: $red;
                color: $white;
                font-family: "Gotham-Medium";
                font-size: 14px;
                text-transform: uppercase;
                border: 0;
                cursor: pointer;
                transition: 0.4s cubic-bezier(.215, .61, .355, 1);
            }
            .button_play:hover {
                margin: 27px 0px 0px 8px;
                transition: 0.4s cubic-bezier(.215, .61, .355, 1);
            }
            .button_play::after {
                transition: 0.4s cubic-bezier(.215, .61, .355, 1);
            }
            .button_rect {
                margin: 27px 0px 30px 8px;
                padding: 17px 0 17px 0;
                display: block;
                width: 100%;
                max-width: 120px;
                height: 40px;
                position: absolute;
                z-index: 1;
                color: $white;
                text-align: center;
                border: 3px solid $red;
                cursor: pointer;
            }
        }
    }
    video {
        position: fixed;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -1;
        transform: translateX(-50%) translateY(-50%);
        transition: 1s opacity;
    }
}

/***
    HOME - END
********************************/

/***
    TRACKS - START
********************************/

.tracks {
    font-family: "Gotham-Medium";
    font-weight: 400;
    width: 100%;
    h1 {
        margin-top: 0px;
        margin-bottom: 15px;
        text-align: center;
        font-size: 60px;
        color: $white;
        font-family: "Benguiat Bold";
        @media (max-width:780px) {
            font-size: 48px;
          }
    }
    h2 {
        font-size: 20px;
        text-align: center;
        line-height: 2px;
        color: $white;
        font-family: "Gotham-Medium";
        @media (max-width:780px) {
            font-size: 15px;
          }
    }
    .player{
        width:65%;
        margin-left:17%;
        @media (max-width:1000px) {
            margin-left:27%;
          }
          @media (max-width:777px) {
            margin-left:18%;
          }

    }
        .button_play {
            margin-top: 33px;
            margin-left:12%;
            padding: 10px 0 10px 0;
            display: inline-block;
            width: 100%;
            max-width: 210px;
            height: 40px;
            position: absolute;
            z-index: 2;
            text-align: center;
            background: $red;
            color: $white;
            font-family: "Gotham-Medium";
            font-size: 14px;
            font-weight:300;
            text-transform: uppercase;
            border: 0;
            cursor: pointer;
            transition: 0.4s cubic-bezier(.215, .61, .355, 1);
            @media (max-width:1440px) {
                margin-left:19%;
              }
              @media (max-width:1300px) {
                margin-left:12%;
              }
              @media (max-width:1200px) {
                margin-left:8%;
              }
              @media (max-width:1000px) {
                display:none;
              }
        }
        .button_play:hover {
            background: $white;
            color: $red;
        }


    #popup
    {
      background-color: rgba(0, 0, 0, 0.5);
      bottom: 0;
      display: none;
      position: absolute;
      left: 0;
      opacity: 0;
      right: 0;
      top: 0;
      transition: all 1s;
      z-index: 9999;

      div
      {
      position: absolute;
      top:255px;
      left:65%;
        background-color: $white;
        color: $black;
        height: 200px;
        margin: 2em auto;
        width: 210px;
      }

      .popup{
          padding:30px 0px 0px 10px;
          img{
              display:inline-block;
              vertical-align:middle;
              width:60px;
          }
          p{
            display:inline-block;
          }
      }
    }

    audio {
        margin-top: 60px;
        margin-bottom: 60px;
    }
    .song {
        width: 65%;
        margin: 0 auto;
        margin-top: 30px;
        @media (max-width:765px) {
            width: 88%;
          }
        ul.playlist_top {
            width: 100%;
            background: $red;
            color: $white;
            margin:0;
            li {
                padding: 20px 140px 20px 15px;
                display: inline-block;
                table-layout: fixed;
                font-weight: 700;
                font-size: 12px;
                background: $red;
                color: #fff;
                text-transform: uppercase;
                @media (max-width:1440px) {
                    padding: 20px 170px 20px 15px;
                  }
                  @media (max-width:1300px) {
                    padding: 20px 140px 20px 15px;
                  }
                  @media (max-width:1210px) {
                    padding: 20px 120px 20px 15px;
                  }
                  @media (max-width:1110px) {
                    padding: 20px 90px 20px 15px;
                  }
                  @media (max-width:990px) {
                    padding: 20px 90px 20px 40px;
                  }
                  @media (max-width:845px) {
                    padding: 20px 90px 20px 30px;
                  }
                  @media (max-width:770px) {
                    padding: 20px 90px 20px 30px;
                  }
            }
            li:last-child{
                @media (max-width:990px) {
                    display:none;
                  }
            }
        }
        ol {
            width: 100%;
            color: $white;
            font-size: 15px;
            height: 280px;
            overflow-x: auto;
            margin-top: 0px;
            border: 1px solid rgba(255, 255, 255, 0.1);
            li.music {
                width: 100%;
                border-bottom: 1px solid rgba(255, 255, 255, 0.1);
                cursor: pointer;
                ul li {
                    padding: 20px 0px 20px 0px;
                    display: inline-block;
                    font-weight: 500;
                }
                .title, .artist, .time {
                    margin-left: 15px;
                    @media (max-width:1440px) {
                        width: 23%;
                      }
                      @media (max-width:1280px) {
                        width: 22%;
                      }
                    @media (max-width:1210px) {
                        width: 22%;
                      }
                      @media (max-width:1110px) {
                        width: 20%;
                      }
                      @media (max-width:990px) {
                        width:30%;
                      }
                      @media (max-width:770px) {
                        width:28%;
                      }
                }
                .share{
                    @media (max-width:990px) {
                        display:none;
                      }
                }
            }
            li.music.playing {
                background: $red;
                color:$black;

                .title, .artist, .time, .share{
                    font-weight:600;
                }
            }
        }
    }
    ol::-webkit-scrollbar {
        width: 5px
    }
    ol::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, 0.04)
    }
    ol::-webkit-scrollbar-thumb {
        background: $red;
    }
}
/***
    TRACKS - END
********************************/
/***
    RESPONSIVE MODE - START
********************************/
.app{
    margin:0 auto;
    display:none;
    width:90%;

    h1{
        text-align:center;
        font-size:17px;
    }
    img{
        margin-top:40%;
        margin-left:30%;
        width:200px;
        @media (max-width:550px) {
            margin-top:50%;
            margin-left:25%;
          }
          @media (max-width:430px) {
            margin-top:60%;
            margin-left:27%;
            width:140px;
          }
    }
}
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (orientation: portrait) 
and (-webkit-min-device-pixel-ratio: 1) {
    header, footer, .home, .tracks{
        display:none;
    }
    .app{
        display:block;
    }
}

@media only screen 
and (min-device-width: 834px) 
and (max-device-width: 834px) 
and (orientation: portrait) 
and (-webkit-min-device-pixel-ratio: 2) {
    header, footer, .home, .tracks{
        display:none;
    }
    .app{
        display:block;
    }
}

@media only screen 
and (min-device-width: 414px) 
and (max-device-width: 736px) 
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) { 
    header, footer, .home, .tracks{
        display:none;
    }
    .app{
        display:block;
    }
}

@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) { 
    header, footer, .home, .tracks{
        display:none;
    }
    .app{
        display:block;
    }
}
/***
    RESPONSIVE MODE - END
********************************/

