// COLORS
$red:#D8272A;
$black:#282828;
$white:#FAFAFA;

// DRUMKIT COLOR
$purple:#E311E5;
$black_purple:#9513E5;
$orange:#FF2F0D;
$pink:#EF1F8B;
// COLORBLIND COLOR FOR DRUMKIT
$blind_purple:#A83FE5;
$blind_red:#CF4747;
$blind_yellow:#FFB400;
$blind_pink:#FF2B99;
$blind_green:#3FD20D;

// SCREENS WIDTHS
$break: 990px;
$break-small: 1024px;
$break-medium: 1280px;
$break-large: 1440px;

// FONTS
@font-face {
	font-family: "Benguiat Bold";
	src: url('../../fonts/Benguiat Bold.ttf');
}

@font-face {
	font-family: "Gotham";
    src: url('../../fonts/gotham/Gotham-Black.otf');
        font-weight: 900;
}

@font-face {
	font-family: "Gotham";
    src: url('../../fonts/gotham/Gotham-Bold.otf');
        font-weight: 700;
}

@font-face {
	font-family: "Gotham";
    src: url('../../fonts/gotham/Gotham-Book.ttf');
        font-weight: 500;
}

@font-face {
	font-family: "Gotham";
    src: url('../../fonts/gotham/Gotham-Light.otf');
        font-weight: 300;
}

@font-face {
	font-family: "Gotham";
    src: url('../../fonts/gotham/Gotham-Medium.ttf');
        font-weight: 400;
}

body{
    background:$black;
}