@font-face {
  font-family: "Benguiat Bold";
  src: url("../../fonts/Benguiat Bold.ttf"); }

@font-face {
  font-family: "Gotham";
  src: url("../../fonts/gotham/Gotham-Black.otf");
  font-weight: 900; }

@font-face {
  font-family: "Gotham";
  src: url("../../fonts/gotham/Gotham-Bold.otf");
  font-weight: 700; }

@font-face {
  font-family: "Gotham";
  src: url("../../fonts/gotham/Gotham-Book.ttf");
  font-weight: 500; }

@font-face {
  font-family: "Gotham";
  src: url("../../fonts/gotham/Gotham-Medium.ttf");
  font-weight: 400; }

@font-face {
  font-family: "Gotham";
  src: url("../../fonts/gotham/Gotham-Light.otf");
  font-weight: 300; }

/***
    BODY - START
********************************/
body {
  background: #282828;
  color: #FAFAFA; }
  body a {
    text-decoration: none;
    color: #FAFAFA; }
  body a:hover {
    text-decoration: none;
    color: #FAFAFA; }

/***
    BODY - END
********************************/
/***
    HEADER - START
********************************/
header {
  position: relative;
  left: 5%;
  width: 90%; }
  header a {
    display: inline-block; }
  header img {
    width: 100px;
    display: inline-block; }
  header .logo {
    position: absolute;
    top: 0; }
  header .netflix {
    position: absolute;
    top: 35px;
    right: 0; }
    @media (max-width: 675px) {
      header .netflix {
        display: none; } }
  header nav {
    position: relative;
    top: 20px;
    left: 35%;
    width: 50%;
    font-family: "Gotham";
    font-size: 15px;
    font-weight: 400; }
    @media screen and (max-width: 1280px) {
      header nav {
        left: 33%; } }
    @media screen and (max-width: 1024px) {
      header nav {
        left: 27%; } }
    @media (max-width: 870px) {
      header nav {
        left: 20%;
        width: 90%; } }
    header nav li {
      display: inline-block; }
    header nav a {
      position: relative;
      display: block;
      padding: 0 20px;
      height: 60px;
      line-height: 60px;
      text-decoration: none;
      text-transform: uppercase;
      color: #FAFAFA; }
    header nav a:hover {
      color: #D8272A;
      transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
    header nav a:after {
      position: absolute;
      left: 50%;
      right: 50%;
      height: 3px;
      bottom: 10px;
      content: "";
      background-color: #D8272A;
      transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      transform: translate3d(0, 0, 0); }
    header nav a:hover:after {
      left: 20px;
      right: 20px; }

/***
    HEADER - END
********************************/
/***
    SOCIAL - START
********************************/
footer {
  font-family: "Gotham";
  font-size: 15px;
  font-weight: 400;
  color: #FAFAFA;
  z-index: 10; }
  footer a {
    bottom: 20px;
    display: inline-block;
    text-decoration: none; }
  footer a:hover {
    color: #D8272A;
    transition: 0.1s; }
  footer .watch {
    position: absolute;
    left: 5%;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }

.watch:hover {
  left: 7%;
  transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1); }

.watch:after {
  transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1); }

.social_icons {
  position: absolute;
  right: 5%;
  bottom: 20px;
  display: inline-block; }
  .social_icons .social {
    position: relative;
    margin-right: 10px;
    width: 15px;
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }

/***
    SOCIAL - END
********************************/
/***
    TRANSITION - START
********************************/
.transition {
  transform: translateY(-30%);
  position: relative;
  z-index: 5;
  transition: all 3s ease; }

.slide_bottom {
  transform: translateY(0%);
  animation: 2s fadeIn; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.slide_button {
  animation: 3s fade; }

@keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.transition_top {
  transition: all 3s ease; }

.slide_top {
  animation: 3s fadeOut; }

@keyframes fadeOut {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/***
    TRANSITION - END
********************************/
/***
    HOME - START
********************************/
.home .home_texts {
  margin: 15% 0 0 5%;
  width: 50%; }
  @media (max-width: 1000px) {
    .home .home_texts {
      width: 70%; } }
  .home .home_texts h1 {
    margin-bottom: 25px;
    font-size: 48px;
    color: #FAFAFA;
    font-family: "Benguiat Bold"; }
  .home .home_texts h2 {
    width: 70%;
    font-size: 17px;
    line-height: 24px;
    color: #FAFAFA;
    font-family: "Gotham";
    font-weight: 300; }
  .home .home_texts .button .button_play {
    margin-top: 20px;
    padding: 10px 0 10px 0;
    display: block;
    width: 100%;
    max-width: 120px;
    height: 40px;
    position: absolute;
    z-index: 2;
    text-align: center;
    background: #D8272A;
    color: #FAFAFA;
    font-family: "Gotham";
    font-size: 14px;
    text-transform: uppercase;
    border: 0;
    cursor: pointer;
    transition: 0.4s cubic-bezier(0.215, 0.61, 0.355, 1); }
  .home .home_texts .button .button_play:hover {
    margin: 27px 0px 0px 8px;
    transition: 0.4s cubic-bezier(0.215, 0.61, 0.355, 1); }
  .home .home_texts .button .button_play::after {
    transition: 0.4s cubic-bezier(0.215, 0.61, 0.355, 1); }
  .home .home_texts .button .button_rect {
    margin: 27px 0px 0px 8px;
    padding: 17px 0 17px 0;
    display: block;
    width: 100%;
    max-width: 120px;
    height: 40px;
    position: absolute;
    z-index: 1;
    color: #FAFAFA;
    text-align: center;
    border: 3px solid #D8272A;
    cursor: pointer; }

.home video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  transform: translateX(-50%) translateY(-50%);
  transition: 1s opacity; }

/***
    HOME - END
********************************/
/***
    TRACKS - START
********************************/
.tracks {
  font-family: "Gotham";
  font-weight: 400;
  width: 100%;
  /*
    .playlist_elements{
        text-align:center;
        margin:0 auto;
        width:100%;
    }

    .tbl-header{
        margin-top:60px;
        background:$red;
       }
      .tbl-content{
        height:300px;
        overflow-x:auto;
        margin-top: 0px;
        border: 1px solid rgba(255,255,255,0.3);
      }

    table{
        margin:0 auto;
        width:100%;
        margin-top:0px;
        table-layout: fixed;
        text-align:center;
      }
      th{
        padding: 20px 15px;
        text-align: left;
        font-weight: 700;
        font-size: 12px;
        background:$red;
        color: #fff;
        text-transform: uppercase;
      }
      td{
        background:$black;
        padding: 15px;
        text-align: left;
        vertical-align:middle;
        font-weight: 300;
        font-size: 12px;
        color: #fff;
        border-bottom: solid 1px rgba(255,255,255,0.1);
      }
      tr{
        background:$black;
    }
    */ }
  .tracks h1 {
    margin-top: 0px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 60px;
    color: #FAFAFA;
    font-family: "Benguiat Bold"; }
  .tracks h2 {
    font-size: 20px;
    text-align: center;
    line-height: 2px;
    color: #FAFAFA;
    font-family: "Gotham"; }
  .tracks .player {
    /*width:65%;
        margin-left:40px;
        */
    margin: 0;
    padding: 0; }
  .tracks .button_play {
    margin-top: 2px;
    margin-left: 40%;
    padding: 10px 0 10px 0;
    display: inline-block;
    width: 100%;
    max-width: 210px;
    height: 40px;
    position: absolute;
    z-index: 2;
    text-align: center;
    background: #D8272A;
    color: #FAFAFA;
    font-family: "Gotham";
    font-size: 14px;
    text-transform: uppercase;
    border: 0;
    cursor: pointer;
    transition: 0.4s cubic-bezier(0.215, 0.61, 0.355, 1); }
  .tracks .button_play:hover {
    margin-top: 10px;
    margin-left: 41%;
    transition: 0.4s cubic-bezier(0.215, 0.61, 0.355, 1); }
  .tracks .button_play::after {
    transition: 0.4s cubic-bezier(0.215, 0.61, 0.355, 1); }
  .tracks .button_rect {
    margin-top: 10px;
    margin-left: 41%;
    padding: 17px 0 17px 0;
    display: block;
    width: 100%;
    max-width: 210px;
    height: 40px;
    position: absolute;
    z-index: 1;
    color: #FAFAFA;
    text-align: center;
    border: 3px solid #D8272A;
    cursor: pointer; }
  .tracks #popup {
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    display: none;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 1s;
    z-index: 9999; }
  .tracks #popup div {
    background-color: #333;
    color: #ccc;
    height: 200px;
    margin: 2em auto;
    width: 200px; }
  .tracks audio {
    margin-top: 60px;
    margin-bottom: 60px; }
  .tracks .song {
    width: 65%;
    margin: 0 auto;
    margin-top: 30px; }
    .tracks .song ul.playlist_top {
      width: 100%;
      background: #D8272A;
      color: #FAFAFA;
      margin: 0; }
      .tracks .song ul.playlist_top li {
        padding: 20px 150px 20px 15px;
        display: inline-block;
        table-layout: fixed;
        font-weight: 700;
        font-size: 12px;
        background: #D8272A;
        color: #fff;
        text-transform: uppercase; }
    .tracks .song ol {
      width: 100%;
      color: #FAFAFA;
      font-size: 15px;
      height: 280px;
      overflow-x: auto;
      margin-top: 0px;
      border: 1px solid rgba(255, 255, 255, 0.1); }
      .tracks .song ol li.music {
        width: 100%;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        cursor: pointer; }
        .tracks .song ol li.music ul li {
          padding: 20px 0px 20px 0px;
          display: inline-block;
          font-weight: 500; }
        .tracks .song ol li.music .title {
          margin-left: 15px;
          width: 25%; }
        .tracks .song ol li.music .artist {
          width: 25%; }
        .tracks .song ol li.music .time {
          width: 24%; }
      .tracks .song ol li.music.playing {
        background: #D8272A;
        color: #282828; }
        .tracks .song ol li.music.playing .title, .tracks .song ol li.music.playing .artist, .tracks .song ol li.music.playing .time, .tracks .song ol li.music.playing .share {
          font-weight: 600; }
  .tracks ol::-webkit-scrollbar {
    width: 5px; }
  .tracks ol::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.04); }
  .tracks ol::-webkit-scrollbar-thumb {
    background: #D8272A; }

/***
    TRACKS - END
********************************/
/***
    RESPONSIVE MODE - START
********************************/
.app {
  margin: 0 auto;
  display: none;
  width: 90%; }
  .app h1 {
    text-align: center;
    font-size: 17px; }
  .app img {
    margin-top: 40%;
    margin-left: 30%;
    width: 200px; }
    @media (max-width: 550px) {
      .app img {
        margin-top: 50%;
        margin-left: 25%; } }
    @media (max-width: 430px) {
      .app img {
        margin-top: 60%;
        margin-left: 27%;
        width: 180px; } }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  header, footer, .home, .tracks {
    display: none; }
  .app {
    display: block; } }

@media only screen and (min-device-width: 834px) and (max-device-width: 834px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  header, footer, .home, .tracks {
    display: none; }
  .app {
    display: block; } }

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  header, footer, .home, .tracks {
    display: none; }
  .app {
    display: block; } }

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  header, footer, .home, .tracks {
    display: none; }
  .app {
    display: block; } }

/***
    RESPONSIVE MODE - END
********************************/
