@font-face {
	font-family: "Benguiat Bold";
	src: url('../../fonts/Benguiat Bold.ttf');
}

@font-face {
	font-family: "Gotham-Black";
    src: url('../../fonts/gotham/Gotham-Black.otf');
        font-weight: 900;
}

@font-face {
	font-family: "Gotham-Bold";
    src: url('../../fonts/gotham/Gotham-Bold.otf');
        font-weight: 700;
}

@font-face {
	font-family: "Gotha-Book";
    src: url('../../fonts/gotham/Gotham-Book.ttf');
        font-weight: 500;
}

@font-face {
	font-family: "Gotham-Medium";
    src: url('../../fonts/gotham/Gotham-Medium.ttf');
        font-weight: 400;
}

@font-face {
	font-family: "Gotham-Light";
    src: url('../../fonts/gotham/Gotham-Light.otf');
        font-weight: 300;
}

body {
  background: #282828;
}
/***
      ERROR - START
  ********************************/
  h1.error {
  margin-top:80px;
  text-align:center;
  font-family: "Gotham-Medium";;
  font-size:35px;
}

h2.error {
  margin-top:10px;
  text-align:center;
  font-family: "Gotham-Medium";;
  font-size:25px;
}

/***
      ERROR - START
  ********************************/

/***
      BODY - START
  ********************************/

body {
  background: #282828;
  color: #FAFAFA;
}

body a {
  text-decoration: none;
  color: #FAFAFA;
}

body a:hover {
  text-decoration: none;
  color: #FAFAFA;
}

/***
      BODY - END
  ********************************/

/***
      HEADER - START
  ********************************/

header {
  position: relative;
  left: 5%;
  width: 90%;
}

header a {
  display: inline-block;
}

header img {
  width: 100px;
  display: inline-block;
}

header .logo {
  position: absolute;
  top: 0;
}

header .netflix {
  position: absolute;
  top: 35px;
  right: 0;
}

@media (max-width: 675px) {
  header .netflix {
    display: none;
  }
}

header nav {
  position: relative;
  top: 20px;
  left: 35%;
  width: 50%;
  font-family: "Gotham-Medium";
  font-size: 15px;
}

@media screen and (max-width: 1280px) {
  header nav {
    left: 33%;
  }
}

@media screen and (max-width: 1024px) {
  header nav {
    left: 27%;
  }
}

@media (max-width: 870px) {
  header nav {
    left: 20%;
    width: 90%;
  }
}

header nav li {
  display: inline-block;
}

header nav a {
  position: relative;
  display: block;
  padding: 0 20px;
  height: 60px;
  line-height: 60px;
  text-decoration: none;
  text-transform: uppercase;
  color: #FAFAFA;
}

header nav a:hover {
  color: #D8272A;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

header nav a:after {
  position: absolute;
  left: 50%;
  right: 50%;
  height: 3px;
  bottom: 10px;
  content: "";
  background-color: #D8272A;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform: translate3d(0, 0, 0);
}

header nav a:hover:after {
  left: 20px;
  right: 20px;
}

/***
      HEADER - END
  ********************************/

/***
      SOCIAL - START
  ********************************/

footer {
  font-family: "Gotham-Medium";
  font-size: 15px;
  font-weight: 400;
  color: #FAFAFA;
  z-index: 10;
}

@media (max-width: 999px) {
  footer {
    display: none;
  }
}

footer a {
  bottom: 20px;
  display: inline-block;
  text-decoration: none;
}

footer a:hover {
  color: #D8272A;
  transition: 0.1s;
}

footer .watch {
  position: absolute;
  left: 5%;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.watch:hover {
  left: 7%;
  transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.watch:after {
  transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.social_icons {
  position: absolute;
  right: 5%;
  bottom: 20px;
  display: inline-block;
}

.social_icons .social {
  position: relative;
  margin-right: 10px;
  width: 15px;
  transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

/***
      SOCIAL - END
  ********************************/

/***
      TRANSITION - START
  ********************************/

.transition {
  transform: translateY(-30%);
  position: relative;
  z-index: 5;
  transition: all 3s ease;
}

.slide_bottom {
  transform: translateY(0%);
  animation: 2s fadeIn;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.slide_button {
  animation: 3s fade;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.transition_top {
  transition: all 3s ease;
}

.slide_top {
  animation: 3s fadeOut;
}

@keyframes fadeOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/***
      TRANSITION - END
  ********************************/

/***
      HOME - START
  ********************************/

.home .home_texts {
  margin: 15% 0 0 5%;
  width: 50%;
}

@media (max-width: 1000px) {
  .home .home_texts {
    width: 70%;
  }
}

@media (max-width: 780px) {
  .home .home_texts {
    margin: 300px 0 10% 5%;
    width: 90%;
  }
}

.home .home_texts h1 {
  margin-bottom: 25px;
  font-size: 48px;
  color: #FAFAFA;
  font-family: "Benguiat Bold";
}

.home .home_texts h2 {
  width: 70%;
  font-size: 17px;
  line-height: 24px;
  color: #FAFAFA;
  font-family: "Gotham-Light";
  font-weight: 300;
}

.home .home_texts .button .button_play {
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 15px 0 10px 0;
  display: block;
  width: 100%;
  max-width: 120px;
  height: 40px;
  position: absolute;
  z-index: 2;
  text-align: center;
  background: #D8272A;
  color: #FAFAFA;
  font-family: "Gotham-Medium";
  font-size: 14px;
  text-transform: uppercase;
  border: 0;
  cursor: pointer;
  transition: 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.home .home_texts .button .button_play:hover {
  margin: 27px 0px 0px 8px;
  transition: 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.home .home_texts .button .button_play::after {
  transition: 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.home .home_texts .button .button_rect {
  margin: 27px 0px 30px 8px;
  padding: 17px 0 17px 0;
  display: block;
  width: 100%;
  max-width: 120px;
  height: 40px;
  position: absolute;
  z-index: 1;
  color: #FAFAFA;
  text-align: center;
  border: 3px solid #D8272A;
  cursor: pointer;
}

.home video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  transform: translateX(-50%) translateY(-50%);
  transition: 1s opacity;
}

/***
      HOME - END
  ********************************/

/***
      TRACKS - START
  ********************************/

.tracks {
  font-family: "Gotham-Medium";
  font-weight: 400;
  width: 100%;
}

.tracks h1 {
  margin-top: 60px;
  margin-bottom: 15px;
  text-align: center;
  font-size: 60px;
  color: #FAFAFA;
  font-family: "Benguiat Bold";
}

@media (max-width: 780px) {
  .tracks h1 {
    font-size: 48px;
  }
}

.tracks h2 {
  font-size: 20px;
  text-align: center;
  line-height: 2px;
  color: #FAFAFA;
  font-family: "Gotham-Medium";
}

@media (max-width: 780px) {
  .tracks h2 {
    font-size: 15px;
  }
}

.tracks .player {
  width: 65%;
  margin-left: 17%;
}

@media (max-width: 1000px) {
  .tracks .player {
    margin-left: 27%;
  }
}

@media (max-width: 777px) {
  .tracks .player {
    margin-left: 18%;
  }
}

.tracks .button_play {
  margin-top: 33px;
  margin-left: 12%;
  padding: 15px 0 10px 0;
  display: inline-block;
  width: 100%;
  max-width: 210px;
  height: 40px;
  position: absolute;
  z-index: 2;
  text-align: center;
  background: #D8272A;
  color: #FAFAFA;
  font-family: "Gotham-Medium";
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  border: 0;
  cursor: pointer;
  transition: 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
}

@media (max-width: 1440px) {
  .tracks .button_play {
    margin-left: 19%;
  }
}

@media (max-width: 1300px) {
  .tracks .button_play {
    margin-left: 12%;
  }
}

@media (max-width: 1200px) {
  .tracks .button_play {
    margin-left: 8%;
  }
}

@media (max-width: 1000px) {
  .tracks .button_play {
    display: none;
  }
}

.tracks .button_play:hover {
  background: #FAFAFA;
  color: #D8272A;
}

.tracks #popup {
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  display: none;
  position: absolute;
  left: 0;
  opacity: 0;
  right: 0;
  top: 0;
  transition: all 1s;
  z-index: 9999;
}

.tracks #popup div {
  position: absolute;
  top: 255px;
  left: 65%;
  background-color: #FAFAFA;
  color: #282828;
  height: 200px;
  margin: 2em auto;
  width: 210px;
}

.tracks #popup .popup {
  padding: 30px 0px 0px 10px;
}

.tracks #popup .popup img {
  display: inline-block;
  vertical-align: middle;
  width: 60px;
}

.tracks #popup .popup p {
  display: inline-block;
}

.tracks audio {
  margin-top: 60px;
  margin-bottom: 60px;
}

.tracks .song {
  width: 65%;
  margin: 0 auto;
  margin-top: 30px;
}

@media (max-width: 765px) {
  .tracks .song {
    width: 88%;
  }
}

.tracks .song ul.playlist_top {
  width: 100%;
  background: #D8272A;
  color: #FAFAFA;
  margin: 0;
}

.tracks .song ul.playlist_top li {
  padding: 20px 140px 20px 15px;
  display: inline-block;
  table-layout: fixed;
  font-weight: 700;
  font-size: 12px;
  background: #D8272A;
  color: #fff;
  text-transform: uppercase;
}

@media (max-width: 1440px) {
  .tracks .song ul.playlist_top li {
    padding: 20px 170px 20px 15px;
  }
}

@media (max-width: 1300px) {
  .tracks .song ul.playlist_top li {
    padding: 20px 140px 20px 15px;
  }
}

@media (max-width: 1210px) {
  .tracks .song ul.playlist_top li {
    padding: 20px 120px 20px 15px;
  }
}

@media (max-width: 1110px) {
  .tracks .song ul.playlist_top li {
    padding: 20px 90px 20px 15px;
  }
}

@media (max-width: 990px) {
  .tracks .song ul.playlist_top li {
    padding: 20px 90px 20px 40px;
  }
}

@media (max-width: 845px) {
  .tracks .song ul.playlist_top li {
    padding: 20px 90px 20px 30px;
  }
}

@media (max-width: 770px) {
  .tracks .song ul.playlist_top li {
    padding: 20px 90px 20px 30px;
  }
}

@media (max-width: 990px) {
  .tracks .song ul.playlist_top li:last-child {
    display: none;
  }
}

.tracks .song ol {
  width: 100%;
  color: #FAFAFA;
  font-size: 15px;
  height: 280px;
  overflow-x: auto;
  margin-top: 0px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.tracks .song ol li.music {
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.tracks .song ol li.music ul li {
  padding: 20px 0px 20px 0px;
  display: inline-block;
  font-weight: 500;
}

.tracks .song ol li.music .title,
.tracks .song ol li.music .artist,
.tracks .song ol li.music .time {
  margin-left: 15px;
}

@media (max-width: 1440px) {
  .tracks .song ol li.music .title,
  .tracks .song ol li.music .artist,
  .tracks .song ol li.music .time {
    width: 23%;
  }
}

@media (max-width: 1280px) {
  .tracks .song ol li.music .title,
  .tracks .song ol li.music .artist,
  .tracks .song ol li.music .time {
    width: 22%;
  }
}

@media (max-width: 1210px) {
  .tracks .song ol li.music .title,
  .tracks .song ol li.music .artist,
  .tracks .song ol li.music .time {
    width: 22%;
  }
}

@media (max-width: 1110px) {
  .tracks .song ol li.music .title,
  .tracks .song ol li.music .artist,
  .tracks .song ol li.music .time {
    width: 20%;
  }
}

@media (max-width: 990px) {
  .tracks .song ol li.music .title,
  .tracks .song ol li.music .artist,
  .tracks .song ol li.music .time {
    width: 30%;
  }
}

@media (max-width: 770px) {
  .tracks .song ol li.music .title,
  .tracks .song ol li.music .artist,
  .tracks .song ol li.music .time {
    width: 28%;
  }
}

@media (max-width: 990px) {
  .tracks .song ol li.music .share {
    display: none;
  }
}

.tracks .song ol li.music.playing {
  background: #D8272A;
  color: #282828;
}

.tracks .song ol li.music.playing .title,
.tracks .song ol li.music.playing .artist,
.tracks .song ol li.music.playing .time,
.tracks .song ol li.music.playing .share {
  font-weight: 600;
}

.tracks ol::-webkit-scrollbar {
  width: 5px;
}

.tracks ol::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.04);
}

.tracks ol::-webkit-scrollbar-thumb {
  background: #D8272A;
}

/***
      TRACKS - END
  ********************************/

/***
    LET'S PLAY - START
********************************/
.letsplay {
  text-align: center;
  margin: 6em auto;
  max-width: 50%;
}

.letsplay .letsplay_title {
  color: white;
  text-transform: uppercase;
  font-size: 60px;
  font-family: 'Gotham-Book';
  font-weight: 400;
}

.letsplay .letsplay_descrip {
  font-family: 'Gotham';
  line-height: 1.6;
  font-size: 15px;
  margin-top: 2em;
}

.letsplay .letsplay_descrip .letsplay_paragr {
  margin-bottom: 1em;
}

.letsplay_cta {
  display: inline-block;
  height: 32px;
  padding: 0 50px;
  line-height: 32px;
  background-color: #D8272A;
  text-decoration: none;
  text-transform: uppercase;
}
/***
    LET'S PLAY - END
********************************/
/***
    CATEGORY - START
********************************/
.category {
  margin: 6em auto;
  max-width: 50%;
}

.category .category_list_items {
  display: flex;
  height: 400px;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.category .category_item {
  display: inline-block;
  list-style-type: none;
  height: 100px;
  padding: 0 50px;
  background-color: #D8272A;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 5px solid #D8272A;
  transition: all .2s ease-out;
}

.category .category_item:hover {
  border: 5px solid white;
}

.category .category_item a {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  padding-top: 15px;
}

.category .category_item h4 {
  font-size: 24px;
}

.category .category_item p {
  padding-top: 8px;
  font-size: 14px;
}
/***
    CATEGORY - END
********************************/
/***
    SEQUENCER - START
********************************/
.sequencer {
  margin: 4em auto;
}

.menu2{
  position:absolute;
  top:0;
  left:0;
  width:300px;
  height:100%;
  background:#ccc;
  transform: translateX(-100%) translateZ(0);
  transition: transform 0.6s;
  will-change: transform;
  z-index:100;
}

.menu2.active{
  transform:translateX(0%) translateZ(0);
}

.menu-toggle{
  margin-left:500px;
}

.sequencer aside h4{
  margin-top:20px;
  font-size:20px;
  color:#D8272A;
}

.sequencer .square{
  margin-top:10px;
  width:200px;
  height:30px;
  display:block;
  background:red;
  color:white;
}

.sequencer .square p{
  display:inline-block;
  vertical-align: middle;
}

.sequencer p.active{
  color:#EF1F8B;
}

.square_options {
  margin-top:10px;
  width:200px;
  height:30px;
  display:block;
  background:red;
  color:white;
}

.sequencer .sequencer_keyboard {
  width: 950px;
  height: 276px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.sequencer .sequencer_keyboard li {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 90px;
  font-size: 24px;
  font-family: Gotham;
  font-weight: 300;
  line-height: 94px;
  text-align: center;
  text-transform: uppercase;
  margin-right: 2px;
}

.sequencer .sequencer_keyboard li:after {
  content: '';
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  transition: opacity .2s ease-out;
}

.sequencer .sequencer_keyboard li.active:after {
  opacity: 1;
}

.sequencer .sequencer_keyboard li.nested {
  margin-left: 30px;
}

.sequencer .sequencer_keyboard li.double-nested {
  margin-left: 60px;
}

.sequencer .sequencer_keyboard li[data-type="1"] {
  background-color: #D82A2C;
}

.sequencer .sequencer_keyboard li[data-type="2"] {
  background-color: #E311E5;
}

.sequencer .sequencer_keyboard li[data-type="3"] {
  background-color: #FF2F0D;
}

.sequencer .sequencer_keyboard li[data-type="4"] {
  background-color: #EF1F8B;
}

.sequencer .sequencer_keyboard li[data-type="5"] {
  background-color: #9513E5;
}

.sequencer .sequencer_track {
  z-index: 1;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 340px;
  background-color: #222020;
}

.sequencer .sequencer_toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  padding: 0 80px;
  line-height: 70px;
  background-color: #1D1D1D;
}

.sequencer .sequencer_toolbar .button {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 100%;
  cursor: pointer;
  transition: opacity .2s ease-out;
}

.sequencer .sequencer_toolbar .button:before {
  position: absolute;
  top: calc(50% - 17px);
  left: -1px;
  content: '';
  display: inline-block;
  width: 37px;
  height: 37px;
  border-radius: 50px;
  border: 3px solid transparent;
  transition: border .2s ease-out;
}

.sequencer .sequencer_toolbar .record.recording:before,
.sequencer .sequencer_toolbar .play.playing:before {
  border: 3px solid #ffffff;
}

.sequencer .sequencer_toolbar .button:hover,
.sequencer .sequencer_toolbar .button:focus,
.sequencer .sequencer_toolbar .button:active {
  opacity: 0.7;
}

.sequencer .sequencer_toolbar .button img {
  z-index: 1;
  width: 35px;
  vertical-align: middle;
}

.sequencer .sequencer_toolbar .timer {
  display: inline-block;
  height: 100%;
  padding-left: 5px;
  line-height: 70px;
  color: #F2292B;
  font-size: 14px;
  font-family: Gotham;
}

.sequencer .sequencer_toolbar .timer span {
  display: inline-block;
  width: 45px;
}

.sequencer .sequencer_toolbar .save {
  display: inline-block;
  height: 30px;
  padding: 0 50px;
  background-color: #D8272A;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 11px;
  font-family: Gotham;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.5px;
}

.sequencer_start-record {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 270px;
  background-color: #222020;
}

.sequencer_start-record.existing-record {
  background-color: rgba(34, 32, 32, 0.7);
}

.sequencer_start-record p {
  text-align: center;
  font-size: 20px;
  font-family: Gotham;
  font-weight: 300;
  color: #D82A2C;
}

.sequencer_start-record span {
  display: inline-block;
  height: 20px;
  margin: 0 5px;
  padding: 15px 15px;
  border-radius: 3px;
  box-shadow: 0 2px 4px black;
  line-height: 5px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.5px;
  background-color: #EDEDED;
}

.sequencer .sequencer_recorder {
  padding: 0;
  margin: 0;
}

.sequencer .sequencer_recorder li {
  position: relative;
  height: 54px;
  list-style: none;
  border-top: 1px solid #D8272A;
}

.sequencer .sequencer_recorder li:first-of-type {
  border-top: 0;
}

.sequencer .sequencer_recorder li:first-of-type .block {
  background-color: #D82A2C;
}

.sequencer .sequencer_recorder li:nth-of-type(2) .block {
  background-color: #E311E5;
}

.sequencer .sequencer_recorder li:nth-of-type(3) .block {
  background-color: #FF2F0D;
}

.sequencer .sequencer_recorder li:nth-of-type(3) .block {
  background-color: #EF1F8B;
}

.sequencer .sequencer_recorder li:nth-of-type(3) .block {
  background-color: #9513E5;
}

.sequencer .sequencer_recorder .block {
  display: inline-block;
  position: absolute;
  width: 0px;
  height: 100%;
  background-color: yellow;
  transition: width 0.05s linear;
}

.popup-overlay {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.popup-save {
  z-index: 3;
  display: none;
  position: fixed;
  top: calc(50% - 225px);
  left: calc(50% - 375px);
  width: 750px;
  height: 450px;
  padding: 50px;
  background: #ffffff;
  border-radius: 2px;
  font-family: Gotham;
  color: #333333;
}

.popup-close {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 15px;
  content: 'x';
  font-size: 30px;
  font-family: Gotham;
  font-weight: 300;
  color: #333;
}

.popup-save h3 {
  text-align: center;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 400;
  color: #333333;
}

.popup-save .popup-save_content {
  display: flex;
  flex-direction: row;
}

.popup-save .popup-save_content>div {
  width: 50%;
}

.popup-save .popup-save_content p {
  margin: 20px 0px;
}

.popup-save .popup-save_content label {
  display: inline-block;
  color: #333333;
  margin-bottom: 5px;
}

.popup-save .popup-save_footer .save-track {
  color: #1D1D1D;
}

.popup-save .popup-save_content audio {
  margin-top: 47px;
}

.popup-save .popup-save_content input {
  width: 100%;
  height: 46px;
  padding-left: 15px;
  background-color: #F0F0F0;
  line-height: 46px;
  font-size: 14px;
  font-weight: 300;
}

.popup-save .popup-save_footer button {
  cursor: pointer;
  display: inline-block;
  width: 150px;
  height: 32px;
  padding: 0 15px;
  background-color: #D8272A;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
}
/***
    SEQUENCER - ENDS
********************************/
/***
      RESPONSIVE MODE - START
  ********************************/

.app {
  margin: 0 auto;
  display: none;
  width: 90%;
}

.app h1 {
  text-align: center;
  font-size: 17px;
}

.app img {
  margin-top: 40%;
  margin-left: 30%;
  width: 200px;
}

.app_mobile {
  margin: 0 auto;
  display: none;
  width: 90%;
}

.app_mobile h1 {
  font-family: "Gotham-Medium";
  text-align: center;
  font-size: 17px;
}

.app_mobile img {
  margin-top: 40%;
  margin-left: 35%;
  width: 180px;
}

@media (max-width: 765px) {
  .app_mobile {
    width: 50%;
  }
  .app_mobile img {
    margin-left: 30%;
  }
}

@media (max-width: 730px) {
  .app_mobile {
    width: 50%;
  }
  .app_mobile img {
    margin-top: 60%;
    margin-left: 20%;
  }
}

@media (max-width: 425px) {
  .app_mobile {
    margin: 0 auto;
    width: 70%;
  }
  .app_mobile img {
    margin-top: 55%;
    margin-left: 20%;
    width: 160px;
  }
}

@media (max-width: 375px) {
  .app_mobile {
    margin-top: 10%;
    width: 75%;
  }
  .app_mobile img {
    margin-left: 20%;
    width: 160px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  header,
  footer,
  .home,
  .tracks,
  .letsplay,
  .category,
  .sequencer,
  .about {
    display: none;
  }
  .app {
    display: block;
  }
}

@media only screen and (min-device-width: 0px) and (max-device-width: 736px) {
  header,
  footer,
  .home,
  .tracks,
  .letsplay,
  .category,
  .sequencer,
  .about {
    display: none;
  }
  .app_mobile {
    display: block;
  }
}

/***
      RESPONSIVE MODE - END
  ********************************/