@font-face {
  font-family: "Benguiat Bold";
  src: url("../../fonts/Benguiat Bold.ttf"); }

@font-face {
  font-family: "Gotham";
  src: url("../../fonts/gotham/Gotham-Black.otf");
  font-weight: 900; }

@font-face {
  font-family: "Gotham";
  src: url("../../fonts/gotham/Gotham-Bold.otf");
  font-weight: 700; }

@font-face {
  font-family: "Gotham";
  src: url("../../fonts/gotham/Gotham-Book.ttf");
  font-weight: 500; }

@font-face {
  font-family: "Gotham";
  src: url("../../fonts/gotham/Gotham-Light.otf");
  font-weight: 300; }

@font-face {
  font-family: "Gotham";
  src: url("../../fonts/gotham/Gotham-Medium.ttf");
  font-weight: 400; }

body {
  background: #282828; }

footer {
  font-family: "Gotham";
  font-size: 15px;
  font-weight: 400;
  color: #FAFAFA;
  z-index: 10; }
  footer a {
    bottom: 20px;
    display: inline-block;
    text-decoration: none; }
  footer a:hover {
    color: #D8272A;
    transition: 0.2s; }
  footer .watch {
    position: absolute;
    left: 5%; }
  footer .social_icons {
    position: absolute;
    right: 5%;
    bottom: 20px;
    display: inline-block; }
    footer .social_icons .social {
      width: 15px;
      margin-right: 10px; }
